{% extends "layout.html" %}
{% block content %}
<div class="about"> 
    <h2>About</h2>
    <hr></hr>
    <p>Was ist eine REST-API?</p>
    <p>Eine REST-API (auch bekannt als RESTful API) ist eine API (Application Programming Interface) oder Web-API, die den Beschränkungen der REST-Architektur unterliegt und Interaktionen mit RESTful Webservices ermöglicht. </p>
    <p>REST steht für „Representational State Transfer“ und wurde vom US-amerikanischen Informatiker Roy Fielding entwickelt.</p>
    <p>Eine API besteht aus mehreren Tools, Definitionen und Protokollen zur Entwicklung und Integration von Anwendungssoftware.</p>
    <p>Manchmal werden APIs auch als ein Vertrag zwischen einem Informationsanbieter und einem Informationsnutzer über den vom Konsumenten benötigten Inhalt (der Aufruf) und dem vom Produzenten benötigten Inhalt (der Antwort) bezeichnet.</p>
    <p>In einer API für einen Wetterdienst könnte beispielsweise der Nutzer eine Postleitzahl angeben, worauf der Produzent ein zweiteiliges Ergebnis zurückgibt: die höchste und die niedrigste Temperatur.</p>
    <p>Mit anderen Worten, wenn Sie mit einem PC oder System interagieren und entweder Informationen abrufen oder Funktionen ausführen möchten, stellen APIs sicher, dass Sie mit dem System so kommunizieren können, dass es die Anforderung verstehen und erfüllen kann. </p>   
    <p>Man kann sich APIs als Vermittler zwischen Nutzern oder Clients und den von ihnen benötigten Ressourcen oder Webservices vorstellen. Dazu können Organisationen mit ihnen Ressourcen und Informationen teilen und gleichzeitig Sicherheit, Kontrolle und Authentifizierung gewährleisten, indem sie bestimmen, wer auf welche Ressourcen zugreifen kann. </p>
    <p>Ein weiterer Vorteil von APIs ist, dass Sie die Einzelheiten des Cachings nicht genau kennen müssen, d. h. auf welche Weise Ihre Ressource abgerufen wird oder woher sie stammt.</p>
    <p>Source:https://www.redhat.com/de/topics/api/what-is-a-rest-api</p>
        
</div>

{% endblock %}