{% extends "layout.html" %}
{% block content %}
<div class="api">
    <h1>Rest API</h1>
    <hr></hr>
    <!--<table class="center"> 
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in data.items() %}
                <tr>
                    <td> {{ key }} </td>
                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>-->
</div>
{% endblock %}