{% extends "layout.html" %}
{% block content %}

<div class="home">
    <h2>Weather Information</h2>
    <hr></hr>
    <form method="post">
    <input type="text" value="Braunschweig" name="location"/>
    <button type="submit"> Update </button>
    </form>
	<img src="../images/weathercard/00_Background_Top.jpg"/>

	<div class="row">
		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<h1 class="heading"></h1>
						<h3 class="location">{{data["locationname"]}}</h3>
						<li class="li-without-bullets">
							<span>Lng:</span>
							<span>{{data["longitude"]}}°</span>
							<span>|</span>
							<span>Lat:</span>
							<span>{{data["latitude"]}}°</span>
						</li>								
						<span class="temp">{{data["location_time"]}}</span>					
						<p class="temp">
							<span class="temp-value">{{data["temperatur"]}}°C</span>
							
						</p>
						<li class="li-without-bullets">
							<span>{{data["weather_description"]}}</span>
						</li>
						<li class="li-without-bullets">
							<span>{{data["cloudiness"]}}% cloudiness</span>
						</li>
					</div>
				</div>
				<div class="middle">
					<div class="wrapper">
						<p class="wind_speed">
							<span class="wind_speed-value">{{data["wind_speed"]}} km/h</span>
						</p>
						<li class="li-without-bullets">
							<span>{{data["wind_direction"]}}</span>
						</li>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<p class="sun_position">
							<span>Azimuth:</span>
							<span class="sun_position-value">{{data["azimuth"]}}°</span>
						</p>
						<p class="sun_position">						
							<span>Elevation:</span>
							<span class="sun_position-value">{{data["elevation"]}}°</span>
						</p>
						<li class="li-without-bullets">
							<span>Sunrise:</span>
							<span> {{data["sunrise"]}} </span>
							<span>|</span>
							<span>Sunset:</span>
							<span> {{data["sunset"]}}</span>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

