<!DOCTYPE html>
<html>
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <head>
        <title>Sunny Boy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Sunny Boy</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('api') }}">API</a></li>
                        <li><a href="{{ url_for('processcontrol') }}">ProcessControl</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            {% block content%}
            {% endblock %}
        </div>
    </body>
</html>